*.mdb
*~
_ReSharper*
obj
bin/*.dll
Common/CodeRefractor.RuntimeBase/obj
Common/CodeRefractor.RuntimeBase/bin
MsilCodeCompiler/obj
VmTests/Projects/SimpleAdditions/obj/*
VmTests/MsilCodeCompiler.Tests/obj/*
Views/CodeRefractor.Launcher/obj
IlSpy
*.suo
*.pdb
*.vshost.exe
Common/CodeRefactor.OpenRuntime/obj/*
*.userprefs
ClassOpenRuntimeCodeGenerator/obj/*
ClassOpenRuntimeCodeGenerator/bin/*
*DotSettings.user
Common/CodeRefactor.OpenRuntime/bin/*
bin/*.exe*
bin/Output.layout
Compiler/Backend/CodeRefractor.CompilerBackend/bin/*.dll
Compiler/Backend/CodeRefractor.CompilerBackend/obj/*
Compiler/Backend/CodeRefractor.CompilerBackend/bin/Debug/*
bin/output.o
CodeRefactorCppDebugging/Debug/*
*.user
*.~lock*
Documentation/BarchelorPaper2014.ddf
.idea
CodeRefactorCppDebugging\Release*/
CodeRefactorCppDebugging/Release/*
ipch/*
CodeRefractor.*sdf
bin/CodeRefactorCppDebugging.ilk
Compiler/Backend/CodeRefractor.CompilerBackend/bin/Release/*
Compiler/Frontend/MsilReader/bin/*
Compiler/Frontend/MsilReader/obj/*
bin/CodeRefactorCppDebugging.b*
bin/Makefile.*
VmTests/bin/*.dll
VmTests/bin/cr.exe
Compiler/Backend/CodeRefractor.CompilerBackend/bin/*
CodeRefactorCppDebugging/Debug*
CodeRefactorCppDebugging/Release*
CodeRefactorCppDebugging/OpenRa*
Views/CodeRefractor.Launcher/bin/*
VmTests/MsilCodeCompiler.Tests/bin/*
VmTests/Projects/SimpleAdditions/bin/*
MsilCodeCompiler/bin/*
Compiler/Backend/CodeRefractor.CodeWriter/bin/*
Compiler/Backend/CodeRefractor.CodeWriter/obj/*
bin/Tao.OpenGl.xml
bin/Tao.Platform.Windows.xml
bin/Tao.Sdl.xml
Lib/Qt5Examples/build*
*/obj/*
Views/CR.Code.Editor/obj/*
Views/CR.Code.Editor/bin/*
Source/CrQt/bin/*
Source/CrQt/obj/*
bin/DebuggingApp/Debug/*
bin/DebuggingApp/Release/*
bin/DebuggingApp/DebuggingApp.sdf
bin/DebuggingApp/DebuggingApp.vcxproj.filters
Release/DebuggingApp.exe
Debug/DebuggingApp.exe
Debug/DebuggingApp.ilk
bin/DebuggingApp/DebuggingApp.opensdf
VisualCompiler/bin/Debug/*.exe
VisualCompiler/bin/Debug/*.dll
bin/*DS_Store
bin/CodeRefactorRuntime/Debug/CodeRefa*
bin/CodeRefactorRuntime/CodeRefactorRuntime.sdf
*.sdsettings
*.OpenCover.Settings
bin/OpenRuntime/*
System.Windows.Interactivity.resources.*
bin/*.xml
bin/Tests/CastClassTest1.cs
bin/Tests/CastClassTest2.cs
bin/Tests/ClassMethodTest1.cs
bin/Tests/VirtualMethodsTest1.cs
bin/Tests/VirtualMethodsTest2.cs
bin/Tests/VirtualMethodsTest3.cs
bin/Tests/VirtualMethodsTest4.cs
bin/Tests/VirtualMethodsTest5.cs
bin/Tests/CastClassTest3.cs
bin/Tests/ExplicitInterfacesTest1.cs
bin/output.cpp
bin/output.cpp
VisualCompiler/Tests/InterfacesTest1.cs
packages/*
bin/OpenRuntime/runtime_base.hpp
bin/Tests/BoxingTest01.cs
VisualCompiler/bin/*
Lib/mono.reflection-master/Mono.Reflection.dll
