_ReSharper*
bin/*.dll
Common/CodeRefractor.RuntimeBase/obj
Common/CodeRefractor.RuntimeBase/bin
MsilCodeCompiler/obj
VmTests/Projects/SimpleAdditions/obj/*
VmTests/MsilCodeCompiler.Tests/obj/*
Views/CodeRefractor.Launcher/obj
IlSpy
*.suo
*.pdb
*.vshost.exe
Common/CodeRefactor.OpenRuntime/obj/*
*.userprefs
ClassOpenRuntimeCodeGenerator/obj/*
ClassOpenRuntimeCodeGenerator/bin/*
*DotSettings.user
Common/CodeRefactor.OpenRuntime/bin/*
bin/*.exe*
bin/Output.layout
Compiler/Backend/CodeRefractor.CompilerBackend/bin/*.dll
Compiler/Backend/CodeRefractor.CompilerBackend/obj/*
Compiler/Backend/CodeRefractor.CompilerBackend/bin/Debug/*
bin/output.o
CodeRefactorCppDebugging/Debug/*
*.user
*.~lock*
Documentation/BarchelorPaper2014.ddf

CodeRefactorCppDebugging\Release*/
CodeRefactorCppDebugging/Release/*
ipch/*
CodeRefractor.*sdf
bin/CodeRefactorCppDebugging.ilk
Compiler/Backend/CodeRefractor.CompilerBackend/bin/Release/*
Compiler/Frontend/MsilReader/bin/*
Compiler/Frontend/MsilReader/obj/*
bin/CodeRefactorCppDebugging.b*
bin/Makefile.*
VmTests/bin/*.dll
VmTests/bin/cr.exe
Compiler/Backend/CodeRefractor.CompilerBackend/bin/*
CodeRefactorCppDebugging/Debug*
CodeRefactorCppDebugging/Release*
CodeRefactorCppDebugging/OpenRa*
Views/CodeRefractor.Launcher/bin/*
VmTests/MsilCodeCompiler.Tests/bin/*
VmTests/Projects/SimpleAdditions/bin/*
MsilCodeCompiler/bin/*
Compiler/Backend/CodeRefractor.CodeWriter/bin/*
Compiler/Backend/CodeRefractor.CodeWriter/obj/*
bin/Tao.OpenGl.xml
bin/Tao.Platform.Windows.xml
bin/Tao.Sdl.xml
